* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: black;
  display: flex;
  /* justify-content: space-around; */
  height: 5vh;
  align-items: center;
}
a {
  color: aliceblue;
}
.icons {
  /* width: 50%; */
  display: flex;
  justify-content: start;
  gap: 50px;
}
.flex-icons {
  width: 90%;
}
/* section 2 */

.section2 {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0%;
  background-color: white;
  gap: 20px;
}
.bloger-name,
p {
  text-align: center;
}
.span-name {
  background-color: #0e0d0dee;
  color: white;
  padding: 0.3rem;
  font-size: bold;
}
.subscribe {
  border: none;
  background-color: #a19f9ec5;
  padding: 0.7rem;
  position: absolute;
  font-style: italic;
  cursor: pointer;
}

/* section3 */
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  height: 100vh;
  background-image: url("./image/sarah-blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section3 .text-info {
  align-items: center;
  justify-content: center;
  width: 40%;
  text-align: center;
}
.section3 h1 {
  color: white;
  font-size: 64px;
}
.sub-btn {
  width: 5%;
  height: 10%;
  margin-top: 30vh;
  border: none;
  background-color: #a19f9ec5;
  padding: 0.7rem;
  position: absolute;
  font-style: italic;
  cursor: pointer;
}

button {
  background-color: #fff;

  color: #050505; /* لون النص */
  border-radius: 5px; /* تدوير حواف الزر */
  font-size: 16px; /* حجم النص */
  padding: 10px 20px; /* الهوامش الداخلية */
  text-transform: uppercase; /* تصغير النص */
}
/* section 4 */
.container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e2dfdd;
  width: 100%;
}
.container .item {
  margin: 1rem;
  align-items: center;
}
/* =============ITEM 1========================
============================ */
.container .item1 {
  display: grid;
  text-align: center;
  justify-content: center;
  background-color: white;
  grid-row: 1/2;
  gap: 20px;
  padding: 1rem;
}

.date {
  color: #bcbcbf;
  font-weight: bold;
}
.girl-img {
  width: 50em;
  margin: 1rem;
}
img {
  text-align: center;
  width: 50%;
}
.pragraph {
  text-align: justify;
  font-size: 0.8rem;
  margin: 0 1rem;
}
.interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.like {
  background-color: #ffffff;
  color: #050505;
  border: 1px solid #61616163;
  padding: 1%;
}
.replise {
  background-color: #050505;
  color: #ffffff;
  padding: 1%;
  word-spacing: 1rem;
}
.replise span {
  background-color: #ffffff;
  color: #050505;
  padding: 2px 10px;
  font-size: 1rem;
}
.user-name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
.user-img {
  width: 10%;
}
.name {
  line-height: 3;
  text-align: left;
  font-size: 1rem;
}
.user-comments {
  font-size: 0.9rem;
}
/* ================= ITEM 2 START ===================================
======================================= */
.container .item2 {
  text-align: center;
  background-color: white;
  display: grid;
  text-align: center;
  justify-content: center;
  background-color: white;
  grid-row: 2/6;
  padding: 1rem;
}
.mat-hat-img {
  width: 50em;
  margin: 1rem;
}
/* =================START ITEM 3 ======================
========================== */
.container .item3 {
  text-align: center;
  display: grid;
  grid-row: 6/10;
  text-align: center;
  justify-content: center;
  background-color: white;
  gap: 20px;
  padding: 1rem;
}
.item3 img {
  width: 50em;
  margin: 1rem;
}

/* =============== START ITEM 4======================
======================== */
.container .item4 {
  background-color: #050505;
  text-align: center;
  color: #fff;
  height: 50vh;
  position: relative;
}
.item4 .name-description {
  background-image: url("./image/avatar-girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
}
.item4 .description {
  display: grid;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: left;
  line-height: 2;
  position: absolute;
  bottom: 5%;
}

.runway-img {
  width: 50em;
}
.container h1 {
  text-align: left;
}

/* =========START ITEM 5 ==========================
========================== */
.container .item5 {
  min-width: 20vw;
  background-color: #0a0a0a;
}
.container .item5 h1 {
  color: white;
}
.item5-container {
  background-color: #ffffff;
  min-height: 30vh;
  display: grid;
  grid-template-columns: auto;
  gap: 15px 10px;
}
.item5-info img {
  width: 20%;
}
.item5-info {
  gap: 15px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.item5-text {
  display: flex;
  flex-direction: column;
}
/* =========== ITEM 6 START=======================
====================== */
.item6 {
  width: 90%;
  background-color: #ffffff;
  height: 30vh;
}
.item6 h4 {
  background-color: #050505;
  color: #ffffff;
  padding: 2pz;
}
.background {
  background-color: #d6d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
/* ======== START ITEM 7 ========================
=================== */
.item7 {
  max-height: 20vh;
  margin: 1rem 0 0 0;
}
.tags-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tags-name p {
  flex-basis: 77%;
  flex: 1;
  background-color: #d9d9dfcb;
  margin: 0.5rem;
  font-size: 0.7rem;
}
.tags-name .fashion {
  background-color: #050505;
  color: #ffffff;
}
/* ================START ITEM 8s============================
==================================== */
.item8 {
  min-height: 45vh;
}
.img-gallary {
  display: grid;
  grid-template-columns: auto auto;
}
.img-gallary img {
  padding: 0.5rem;
  width: 100%;
}
/* ============ START ITEM 9============
============================= */
.item9 {
  height: 10vh;
}
.item9 .follow-links {
  padding: 0.5rem;
}
.item9 .follow-links a i {
  color: #050505;
}
/* =============== START ITEM 10=================
============================ */
.subscribe-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 20px;
}
.subscribe-input input {
  height: 100%;
  border: 1px solid #d6d2d2b9;
  background-color: #ffffff;
  padding: 0.5rem;
}
.subscribe-input button {
  background-color: #f54335;
  border: none;
  width: 80%;
  color: #ffffff;
}
.footer {
  width: 100vw;
  height: 20vh;
  background-color: #616161;
}
